POSTGRES_DB=tallerjpa
POSTGRES_USER=tallerjpa
POSTGRES_PASSWORD=tallerjpa
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=3000

VITE_API_BASE_URL=http://localhost:8080/api/v1

JWT_SECRET=miClaveJWTUltraSeguraParaHS512ConLongitudSuperiorASesentaYCuatroCaracteresYCompatibleConSpringBoot2026
JWT_EXPIRATION=86400000
SPRING_JPA_HIBERNATE_DDL_AUTO=update
